<!DOCTYPE html>
<html>
<head>
  <title>K+A+S win react</title>
  <!-- We'll load React dependencies on all pages for this app. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script> <!-- translate jsx into js-->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>  <!-- react -->
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> <!-- because website, not phone app -->
  <!-- react router for appearance of changing URLs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.js" integrity="sha512-LOOlcIrzggklo15g/pbJis06755L5SZYg2RZEUw7t8k/aALW/atg2qg6h8oSLIvk25ulbzhz/p4LH2PUYa+rLw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Include any page-specific Javascript using this block. -->

  <script src="/static/js/app.jsx" type="text/jsx"></script>
  <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>

  <div id="app"></div>
</body>
</html>